nav {
   flex: left;
   width: 100%;
}

.row {
    width: 100%;
}

#navbar {
    width: 100%;
}

.row2 {
    background: mediumseagreen;
    height: 700px;
    justify-content: center;
    padding: 25px;
    margin: 50px auto;
    display:grid;
}

.row3 {
    background: mediumseagreen;
    width: 100%;
    height: 700px;
    justify-content: left;
    padding: 25px;
    margin: 50px auto;
}